<header>
    <a href="#">
        <div class="logo logoBg1"></div>
    </a>
    <nav>
        <ul>
            <li>
                <a href="#">Le Maison</a>
            </li>
            <li>
                <a href="#" class='active'>La Magasine Moutours</a>
            </li>
        </ul>
    </nav>
    <a href="#">
        <div class="logo logoBg1 flip"></div>
    </a>
</header>